:root {
    --button-color: #28313A99;
    --color-grey-1: #363636;
}

body{
    background-color: black;
    font-family: 'Roboto',helvetica,arial,sans-serif;
}

.container{
    margin: 1% auto 10% auto;
}

.col-lateral-l{
    background-color: var(--color-grey-1);
    padding-left: 0;
    padding-right: 0;
}

.col-lateral-r{
    background-color: var(--color-grey-1);
}

.col-central{
    background-color: grey;
    padding: 2em;
}

.col-lateral-l a, .col-lateral-r a{
    display: block;
    margin: auto;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
}

.col-lateral-l a:hover, .col-lateral-r a:hover{
    background-color: var(--bs-blue);
}

/* Container holding the image and the text */
.container-img {
    position: relative;
    margin: 1em;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--button-color);
    color: white;
    padding-left: 0.5rem;
    width: 100%;
}

.text-block h4{
    margin-top:0.5rem;
}

.text-block p{
    margin-bottom:0.5rem;
}

.footer{
    background-color: var(--color-grey-1);
    padding: 1em;
}

.footer p{
    color: white;
    text-align: center;
    margin: 0;
}
