body{
    background-color: black;
    font-family: 'Roboto',helvetica,arial,sans-serif;
}

.form-control, .form-select{
    margin:7px 0px 20px 0px;
}

.container{
    margin: 5% auto 10% auto;
}

.col-lateral-l{
    background-color: #363636;
    padding-left: 0;
    padding-right: 0;
}

.col-lateral-r{
    background-color: #363636;
}

.col-central{
    background-color: grey;
}

.col-lateral-l a, .col-lateral-r a{
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: #0d6efd;
}
