body{
    background-color: black;
    font-family: 'Roboto',helvetica,arial,sans-serif;
}

.form-control, .form-select{
    margin:7px 0px 20px 0px;
}

.container{
    margin: 5% auto 10% auto;
}

.col-lateral-l{
    background-color: white;
}

.col-lateral-r{
    background-color: white;
}

.col-central{
    background-color: grey;
}

.col-lateral a{
    display: block;
    margin: auto;
    text-align: center;
}
